.profile-container {
	margin-top: 90px;

	.profile-card {
		#profileImage {
			margin-top: 10px;
			max-height: 250px;
			max-width: 250px;
		}
	}

	.list-card {
		.list-btn {
			margin-top: 20px;
    		margin-right: 20px;
		}
	}
}